
  body {
    font-family: "Roboto", serif;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.685);
  }
  .s1 {
    background-color: #000000;
    border: 3px #000000 solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }
  .link a {
    color: rgb(179, 30, 60);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
  }
  .link a:hover {
    color: #ff7f50;
  }
  .link button {
    color: rgb(0, 0, 0);
    background-color: #e50000;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
  }
  .link button:hover {
    color: #ffa787;
  }
.s2 {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.685);
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
    border-radius:0 0 50px 50px;
}
.s2-search input {
    border: none;
    border-radius: 50px;
    outline: none;
    height: 30px;
    padding: 0px 10px;
  }
  .s2-search button {
position: absolute;
left: 200px;
height: 30px;
background-color:#e50000 ;
text-decoration: none;
border-radius: 20px;
border: none;
  }
  .s2-search button:hover{
    color:#ffa787;
  }
  .img-2{
border-radius: 20px;

  }
  .s3 {
color:#000000;
border-radius: 0 0 50px 50px;
display: flex;
justify-content: space-between;
align-items: center;
  } 
 .s4  {
padding : 25px 50px;
 }
 .s3 h1{
margin-top: 0;
 }
 .s3 button {
  background-color: rgb(152, 7, 7);
  color:#000000 ;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 100px;
  font-size: larger;
 }
 .s3 button:hover{
  color:#ffa787;
 }
 .s5 {
padding: 25px 50px;
border-radius: 50px 50px 0 0;

 }
 .img1 {
 display: flex;
 justify-content: space-between;
 background-color: #000000;
 color: aliceblue;
align-items: center;
padding: 10px 30px;
border-radius: 0 0 50px 50px;
margin: none;
 }
 
.img1 img{
  width: 50px;
} 
.s5 {
  width:330px;
  margin: 25px;
  background-color: #000000;
  border-radius: 50px;
}
.s5 img{
  border-radius: 50px;
  
}
.s7 {
  display: flex;

}
.s9 {
display: flex;
}
.s11 {
  display: flex;
  justify-content: center;
  
}